.tropical {
  color: #f7325e;
  font-family: fantasy;
}

p.tropical {
  color: #7dc410;
}

.popular {
  color: purple;
  font-family: monospace;
  font-size: 18px;
}

html {
  background-color: gray;
}
